.footer {
  width: 100%;
  background-color: var(--main-green-color);
  color: white;
  text-align: center;
}
.copyright {
  margin-top: 10px;
}
.contact span,
.contact .icon {
  vertical-align: middle;
}
