.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
  gap: 15px;
  justify-content: space-between;
}
.product-page {
  text-align: center;
}
.search-bar {
  display: flex;
  margin-bottom: 20px;
  gap: 5px;
}
.products-list > :nth-child(n) {
  margin-right: 0;
}
