.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
  gap: 15px;
  justify-content: space-between;
}
.products-page {
  text-align: center;
}
.products-list > :nth-child(n) {
  margin-right: 0;
}
.pagination {
  display: inline-block;
  margin-top: 20px;
}
